body, svg { background-color: #111111; }
.s, .i { fill: #111111;}

/* jumps */
.j	{ stroke: #bbbbbb; stroke-width: 1; }
.jc	{ stroke: #dd0000; stroke-width: 1; }
.jr	{ stroke: #800080; stroke-width: 1; }
.jx	{ stroke: #bbbbbb; stroke-width: 3; }
.jxc	{ stroke: #dd0000; stroke-width: 3; }
.jxr	{ stroke: #800080; stroke-width: 3; }
.jb	{ stroke: #0000FF; stroke-width: 3; fill: none; }

/* external system */
.eh	{ stroke: #00B000; stroke-width: 1; fill: #333333; }
.el	{ stroke: #F00000; stroke-width: 1; stroke-dasharray: 8, 4; fill: #333333; }
.e	{ stroke: #cccccc; stroke-width: 1; fill: #333333; }
.exh	{ stroke: #00B000; stroke-width: 2; fill: #333333; }
.exl	{ stroke: #F00000; stroke-width: 2; stroke-dasharray: 8, 3; fill: #333333; }
.ex	{ stroke: #cccccc; stroke-width: 2; fill: #333333; }

/* external system text */
.es	{ font-size: 9px; font-family: Arial, Helvetica, sans-serif; fill: #ffffff; }
.er	{ font-weight: bold; font-size: 7px; font-family: verdana, Arial, sans-serif; fill: #dddddd; }

/* system */
.sh	{ stroke: #00B000; stroke-width: 1; }
.sl	{ stroke: #F00000; stroke-width: 1; stroke-dasharray: 8, 3; }
.s	{ stroke: #777777; stroke-width: 1; }
.sc	{ stroke-width: 1.2; stroke-dasharray: 4, 3; }
.sx	{ stroke-width: 2.5; }

.scl	{ stroke: transparent; stroke-width: 2; fill: transparent; }

/* system text */
.ss	{ font-family: Arial, Helvetica, sans-serif; font-size: 9px; fill: #ffffff; }
.st	{ font-weight: bold; font-size: 7px; font-family: verdana, Arial, sans-serif; fill: #cccccc; }
.so	{ fill: #ff2222; }
.i	{ stroke: #0080FF; stroke-width: 1; }

/* station */
.o	{ fill: #000000; }
.oc	{ fill: #0000FF; }
.oa	{ fill: #FFDC00; }
.og	{ fill: #00FF00; }
.om	{ fill: #FF0000; }
.o1	{ fill: #ffffff; stroke-width: 0.5; stroke: #888888; }
.o2	{ fill: #ffffff; stroke-width: 0.5; stroke: #888888; }
.oo	{ fill: none; stroke: #AAAAAA; stroke-width: 1; }

/* station services */
.v1	{ fill: #FF0000; }
.v2	{ fill: #00FF00; }
.v3	{ fill: #FFDC00; }
.v4	{ fill: #0000FF; }

/* legend */
.lb	{ stroke-width: 1; stroke: #777777; fill: #222222; }
.lbt	{ stroke-width: 1; stroke: #777777; fill: #222222; }
.lt	{ fill: #ffffff; font-family: Arial, Helvetica, sans-serif; font-weight: bold; font-size: 12px; }
.lc	{ fill: #ffffff; font-family: Arial, Helvetica, sans-serif; font-size: 11px; }
.l	{ fill: #ffffff; font-family: Arial, Helvetica, sans-serif; font-size: 10px; }

/* highlight */
.h	{ fill: none; stroke-width: 3; stroke: #FFFFFF; }
.hw	{ fill: none; stroke-width: 2; stroke: #00AA00; }
.hl	{ fill: none; stroke-width: 2; stroke: #F00000; }
.hg	{ fill: none; stroke-width: 2; stroke: #00B000; }

/* incursion */
.inc	{ fill: url(#incBg); }
.incs	{ fill: url(#incStBg); }

/* contested */
.con	{ fill: url(#conBg); }

/* sov campaign triggered */
.cam		{ fill: url(#camBg); }
.cam-active	{ fill: url(#camActiveBg); }